@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Inter:wght@100..900&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
        /* similar style */
body{
    width: 100%;
    margin: 0 auto;
    background-color: black;
}
/* navigation section */
.nav-bar{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0px auto;
    margin-bottom: 50px;
    padding-top: 40px;
}
.nav-bar h1{
    font-size: 2.10rem;
    height: 46px;
    color: rgb(230, 83, 60);
    font-style: italic;
}
.nav-bar ul{
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    list-style: none;
    border: 3px solid rgba(255, 255, 255, 0.1);
    padding: 10px 15px;
    border-radius: 40px;
    width: 465px;
    height: 46px;
}
.nav-bar ul li a {
    color: white;
    text-decoration: none;
}
.nav-menu{
    display: none;
    color: white;
} 
/* header section */
.header-section{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.header-text{
    width: 50%;
    height: 540px;
}
.header-title{
    font-size: 5rem;
    color: white;
    font-weight: 900;
}
.shape{
    font-family: "Dancing Script", cursive;
    font-size: 5rem;
    color: white;
    font-weight: 900;
}
.header-description{
    color: rgba(255, 255, 255, 0.5);
    margin: 50px 0px;
}
.btn-primary{
    width: 225px;
    height: 54px;
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    background-color: rgb(230, 83, 60);
    border-radius: 40px;
    border: none;
    padding: 15px 20px;
    margin-right: 40px;
    cursor: pointer;
}
.btn-secondry{
    width: 225px;
    height: 54px;
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    border: 2px solid white;
    background-color: black;
    padding: 15px 20px;
    border-radius: 40px;
    cursor: pointer;
}
.header-img img{
    width: 100%;
    position: relative;
}
.header-img-box1{
    width: 206px;
    height: 96px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    backdrop-filter: blur(8px);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: absolute;
    margin-top: -150px;
    margin-left: -120px;
}
.header-img-box2{
    width: 206px;
    height: 96px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    backdrop-filter: blur(8px);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: absolute;
    margin-top: -450px;
    margin-left: 220px;
}
.circle{
    width: 40px;
    height: 40px;
    background-color: rgb(230, 83, 60);
    border-radius: 50%;
}
.header-img-box1 h1{
    color: white;
}
.header-img-box1 p{
    color: rgba(239, 237, 232, 0.65);
}
.header-img-box2 h1{
    color: white;
    font-size: 3rem;
}
.header-img-box2 p{
    color: rgba(239, 237, 232, 0.65);
}
/* change your habit section */
main{
    width: 80%;
    margin: 0 auto;
}
.habit-section{
    color: white;
    margin: 50px;
    text-align: center;
}
.habit-title{
    font-size: 3rem;
    margin-bottom: 10px;
    color: white;
}
.habit-description{
    font-size: 0.90rem;
    color: rgba(255, 255, 255, 0.5);
    margin: 10px;
}
.habit-img{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* justify-content: space-around; */
    margin: 0 auto;  
}
.habit-content{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 70px;
}
.habit-content p{
    font-size: 0.90rem;
    color: rgba(255, 255, 255, 0.5);
    margin: 10px;
}
.habit-content h2{
    font-size: 1.40rem;
    font-weight: 500;
    margin: 10px;
}
.habit-img img{
    border-radius: 50%;
}
/* run section */
.run-section{
    display: flex;
    gap: 50px;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.28);
    border-radius: 20px;
    margin-bottom: 50px;
}
.run-title{
    width: 50%;
    padding: 15px;
}
.run-title h1{
    color: white;
    font-size: 2.60rem;
    font-weight: 700;
}
.run-title p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.90rem;
    margin: 30px 0px;
}
.run-img{
    width: 50%;
    padding: 15px;
}
.run-img img{
    width: 100%;
    border-radius: 20px;
}
/* table section */
#Bmi-section{
    background: rgb(34, 34, 34);
    width: 100%;
    margin-bottom: 50px;
    padding: 20px;
}
.bmi-header{
    margin: 50px 0px;
    text-align: center;
}
.bmi-header h1{
    color: white;
    font-size: 2.50rem;
    font-weight: 700;
}
.bmi-header p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    margin: 20px;
}
/* calculate chart table */
table{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-collapse: collapse;
    width: 550px;
}
.table-header{
    color: white;
    font-size: 1.80rem;
    font-weight: 800;
    margin-bottom: 40px;
    margin-left: 50px;
}
.bmi-section, table{
    color: white;
    font-size: 1.60rem;
    margin: 50px;
}
.calculate-header{
    color: white;
    font-size: 1.80rem;
    font-weight: 800;
    margin-bottom: 10px;
}
td, tr{
    color: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 20px;
    font-size: 14px;
    text-align: center;
    font-weight: 400;
}
thead, th{
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: white;
    font-size: 1rem;
    padding: 20px;
    font-weight: 600;
}
.calculate-text{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    margin: 15px 0px;
}
.bmi-container{
    display: flex;
    justify-content: center;
    gap: 10%;
    margin-bottom: 40px;
}
.bmi-calculate{
    width: 40%;
}
.select-text{
    font-size: 1rem;
    padding-top: 20px;
}
.input-area{
    font-size: 1rem;
    padding: 15px 5px;
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    border: none;
    margin: 5px 0px;
    width: 40%;
}
.option-text1{
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.6);
    padding: 15px 5px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    border: none;
    margin: 5px 0px;
    width: 40%;
}
.option-text2{
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.6);
    padding: 15px 5px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    border: none;
    margin: 5px 0px;
    width: 81%;
    margin-bottom: 20px;
}
/* our team section */
.team-section{
    margin-bottom: 80px;
    border-radius: 10px;
}
.team-header{
    text-align: center;
}
.team-img img{
    width: 100%;
    height: 420px;
    border-radius: 20px;
}
.team-img{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    gap: 20px;
    padding: 20px;
}
.trainer1, .trainer2, .trainer3, .trainer4, .trainer5, .trainer6{
    font-weight: 600;
    font-size: 1.20rem;
    position: relative;
}
.trainer1-text{
    position: absolute;
    color: white;
    bottom: 30px;
    padding-left: 20px;
}
.trainer-p{
    font-size: 18px;
    color: rgba(255, 255, 255, 0.5);
}
    /* footer section */
footer{
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px 0px;
}
.footer-section{
    color: white;
    display: flex;
    justify-content: space-between;
    margin: 50px auto;
    width: 80%;
}
.footer-section h1{
    font-size: 4rem;
    font-weight: 800;
    font-style: italic;
    color: rgb(230, 83, 60);
}
.footer-section p{
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
    margin: 20px 0px;
}
.footer-description{
    width: 30%;
}
.get-started{
    display: flex;
    justify-content: space-between;
    width: 50%;
}
.get-started h2{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 40px;
}
.get-started h5{
    font-size: 1.20rem;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.5);
    margin: 20px 0px;
    cursor: pointer;
}
.hr-line{
    color: rgba(255, 255, 255, 0.5);
}
.copyright{
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    margin: 40px;
}
hr{
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 0px;
    width: 80%;
    margin: 0 auto;
}


